
:root{
    --color-very-dark-magenta:hsl(300, 43%, 22%);
    --color-soft-pink: hsl(333, 80%, 67%);
    --color-dark-grayish-magenta: hsl(303, 10%, 53%);
    --color-light-grayish-magenta: hsl(300, 24%, 96%);
    --color-white: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

body{
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 50%, 60%;
}

.main-title{
    color:var(--color-very-dark-magenta);
    font-size: 50px;
    width: 500px;
    text-align: left;
    line-height: 50px;
    margin-top: 60px;
    margin-left: 80px;
}

.main-text{
    color: var(--color-dark-grayish-magenta);
    font-weight: 500;
    margin-left: 80px;
    margin-bottom: 40px;
    width: 500px;
    text-align: left;
    line-height: 25px;
}


/* Rating */

.rating-container{
    background-color: var(--color-light-grayish-magenta);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    height: 40px;
    padding: 10px 60px 10px 30px;
    border-radius: 10px;
}


.rating-text{
    color: var(--color-very-dark-magenta);
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 20px;
}

.rating-1{
    position: absolute;
    top: 60px;
    right: 180px;
}

.rating-2{
    position: absolute;
    top: 140px;
    right: 110px;
}

.rating-3{
    position: absolute;
    top: 220px;
    right: 60px;
}


/* Card */

.card{
    display: flex;
    flex-direction: row;
}

.card-container{
    width:350px;
    height: max-content;
    border-radius: 10px;
    background-color: var(--color-very-dark-magenta);
    padding: 40px;
}

.card-user-profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

img{
    width: 60px;
    border-radius: 50%;
}

.card-user-info p{
    margin:10px;
}

.card-user-name{
    color:var(--color-white);
    font-weight: 700;
}

.card-user-status{
    font-weight: 400;
    font-size: 15px;
    color: var(--color-soft-pink);
}

.card-user-comment{
    color:var(--color-white);
    line-height: 30px;
    font-weight: 400;
}

.card-1{
    float:left;
    margin: 0px 0 0 80px;
}

.card-2{
    margin: 30px 20px 10px 20px;
}

.card-3{
    float:right;
    margin: 60px 100px 30px 0;
}

/* Footer */
.attribution {
    font-size: 13px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }